/* AlgoBreizh Stylesheet */


.pageTitle {
	margin-left: 250px;
	margin-bottom: 40px;
	margin-top: 40px;
}

.card {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
	margin-top: 10px;
	box-sizing: border-box;
	border-radius: 2px;
	background-clip: padding-box;
}

.card span.card-title {
	color: black;
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
}

.card .card-image {
	position: relative;
	overflow: hidden;
}

.card .card-image img {
	border-radius: 2px 2px 0 0;
	background-clip: padding-box;
	position: relative;
	z-index: -1;
}

.card .card-image span.card-title {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 16px;
}

.card .card-content {
	padding: 16px;
	border-radius: 0 0 2px 2px;
	background-clip: padding-box;
	box-sizing: border-box;
	height: 70px;
}

.card .card-content p {
	margin: 0;
	color: inherit;
	font-size: 16px;
}

.card .card-content span.card-title {
	line-height: 48px;
}

.card .card-action {
	border-top: 1px solid rgba(160, 160, 160, 0.2);
	padding: 16px;
}

.card .card-action a {
	margin-right: 16px;
	transition: color 0.3s ease;
}

.card .card-action a:hover {
	text-decoration: none;
}

.card.center {
	height: 230px;
}

.no-scroll {
	overflow: hidden;
}

.btn {
	text-transform: uppercase;
}

.imageClip {
	margin-top: 10px;
	width: 85;
	height: 60px;
}

.center {
	text-align: center;
}

#cartTable {
	border-collapse: collapse;
}

#orderTable {
	border-collapse: collapse;
}

#table-footer {
	border: solid 1px white;
	border-top: solid 1px #dddddd;
	background: white;
}

#modal_article_name {
	font-size: 16px;
}

#modal_message_error {
	width: 7%;
	height: 7%;
}

#logo {
	margin: 6px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Trebuchet MS';
	color: #005500;
}

p, div {
    font-family: 'Trebuchet MS';
}
